html {
  scroll-behavior: smooth;
}
body{
    background-color: #FFEDFA;
    
}
h2{
    text-align: center;
    font-family: libre Baskerville;
    font-size:50px;
    color: #D4AF37;
}
.notes{
    background-color: #FDFDAA;
    width:80%;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    border-radius: 10px;
    float: left;
}


.Notes{
    color: #4B4B4B;
    font-family: 'Dancing Script';

}
img{
    margin-right:0 auto;
    height: 200px;
    float: left;
    border:3px solid #d4af37;
    margin: 10px; 
}
.img2{
    width:200px
}
.Button{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: #FFB8E0;
    align-self: center;
    color: #6B424D;
    border-radius: 500px;
    block-size: 40px;
    border: #6B424D;
    box-shadow:0px 5px 15px rgba(0, 0, 0.5, 1); 
    opacity: 80%;
}
#behna{
    color:palevioletred;
    font-size:30px;
}
